/* FIGGY CUSTOM THEME */


/* 
GLOBAL 
*/
html, body {
    font-family: var(--font-family-sans);
    
    min-height: max-content;
    /* overflow: auto; */
}

/* site background color */
body {
    background-color: var(--gray-700);
    background-image: url("../images/bg-site-gradient.svg");
    background-repeat:no-repeat;
    background-position: 50% 48px;
}
/* custom inner container */
.jm-grid {
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.jm-grid-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.jm-col {
    padding: 30px 10px;
    text-align: left;
    margin: 5px;
    width: 500px;
    flex-basis: 500px;
    flex-grow: 1;
}
.jm-col-inner {
    display:flex;
    flex-direction: column;
}

.sec-padding-tb {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* bullets - replace with custom images */
.jm-bullet-primary {
    padding-left:45px;
    background-image: url("../images/bullet-primary.svg");
    background-repeat:no-repeat;
    background-position: left top -7px;
    margin-bottom:15px;
}
.jm-bullet-secondary {
    padding-left:65px;
    background-image: url("../images/bullet-secondary.svg");
    background-repeat:no-repeat;
    background-position: left 20px top -7px;
    margin-bottom:25px;
}

/* 
UTILS
*/
.img-responsive {
    display:block;
    max-width: 100%; 
    height: auto;
}


/* 
LANDING PAGE
*/

/* section-intro */
.sec-intro {
    min-height: 525px;
    margin-top:-48px;
    background-image: url("../images/undraw/through-the-park.svg"), url("../images/divider-swoosh-1.svg"), url("../images/spectrum-gradient.svg");
    background-position: right -270px bottom, center bottom -1px, center top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, contain, cover;
}
.sec-intro .jm-grid {
    margin-top:50px;
}
.sec-intro .jm-grid h2 {width:50%;}

/* sec-usps */
.sec-usps {}

.usp {
    padding: 30px 10px;
    text-align: left;
    margin: 5px;
    width: 300px;
    flex-basis: 300px;
    flex-grow: 1;
}
.usp-inner {
    display:flex;
    flex-direction: column;
}
.usp-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.usp-icon-compass   {   background-image: url("../images/ico/compass.svg")}
.usp-icon-settings  {   background-image: url("../images/ico/settings.svg")}
.usp-icon-know      {   background-image: url("../images/ico/know.svg")}
.usp-icon-spy       {   background-image: url("../images/ico/spy.svg")}
.usp-icon-magic     {   background-image: url("../images/ico/magic.svg")}

/* sec-position */
.sec-position {
    display: flex;
    align-items: center;
    min-height: 800px;
    background: rgb(4,131,132);
    background: linear-gradient(0deg, rgba(4,131,132,1) 0%, rgba(9,196,162,1) 100%);
    background-image: url("../images/divider-swoosh-2.svg"), linear-gradient(0deg, rgba(4,131,132,1) 0%, rgba(9,196,162,1) 100%);
    background-position: center top -1px, center top;
    background-repeat: no-repeat;
    background-size: contain;
}
.sec-position .jm-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sec-features */
.sec-features {
    /* display: flex;
    align-items: center;
    min-height: 800px; */
}
.sec-features .fnt-title {
    text-align: center;
    color: var(--brandmint);
}
.sec-features .jm-col {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
RESPONSIVE BREAKPOINTS 
*/
/* MK-docs main breakpoint */
@media (max-width: 1219.98px) { 
    /* custom inner container */
    .jm-grid {
        padding-left:15px;
        padding-right:15px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    /* landing-page > global */
    /* .jm-col {
        text-align: center;
    } */

    /* landing-page > section-intro */
    .sec-intro {
        margin-top:-15px;
        background-position: center bottom, center bottom, center top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 50%, contain, cover;
    }
    .sec-intro .jm-grid .fnt-title, .sec-intro .jm-grid h2 {
        text-align: center;
        width:75%;
        margin-right: auto;
        margin-left: auto;
    }
    .sec-intro .jm-grid h2 {
        margin-top:15px;
    }

    /* landing page > sec-position */
    .img-managing-settings {
        max-height: 400px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* landing-page > section-intro */
    .sec-intro {
        background-size: 75%, contain, cover;
    }
    .sec-intro .jm-grid .fnt-title, .sec-intro .jm-grid h2 {
        width:100%;       
    }
 }